header{
	height: 400px;
	width: 100%;
	border: solid pink;
}
.logo{
	height: 200px;
	width: 30%;
	text-align: center;
	border-right: solid pink;
	float: left;
	line-height: 200px;

}
.slogan{
	height: 200px;
	width: 69%;
	text-align: center;
	float: left;
	line-height: 200px;
}
.slider{
	height: 200px;
	width: 100%;
	text-align: center;
	border-top: solid pink;
	float: left;
	line-height: 200px;

}

.news{
	height: 200px;
	width: 100%;
	border: solid pink;
	border-top: none;
	float: left;
}
.news1{
	height: 200px;
	width: 33%;
	text-align: center;
	border-right: solid pink;
	float: left;
	line-height: 200px;
}
.news2{
	height: 200px;
	width: 33%;
	text-align: center;
	border-right: solid pink;
	float: left;
	line-height: 200px;
}
.news3{
	height: 200px;
	width: 33.2%;
	text-align: center;
	border-right: none;
	float: left;
	line-height: 200px;
}
.article{
	height: 200px;
	width: 100%;
	float: left;
	border: solid pink;
	border-top: none;
}
.article1{
	height: 200px;
	width: 50%;
	text-align: center;
	float: left;
	border-right: solid pink;
	line-height: 200px;
}
.article2{
	height: 200px;
	width: 49.5%;
	text-align: center;
	border-right: none;
	float: left;
	line-height: 200px;
}
footer{
	height: 200px;
	width: 100%;
	
	border:  solid pink;
	border-top: none;
	float: left;
}
.footer1{
	height: 200px;
	width: 33%;
	text-align: center;
	float: left;
	border-right: solid pink;
	line-height:200px;
}
.footer2{
	height: 200px;
	width: 33%;
	text-align: center;
	float: left;
	border-right: solid pink;
	line-height: 200px;
}
.footer3{
	height: 200px;
	width: 33.2%;
	text-align: center;
	float: left;
	border-right: none;
	line-height: 200px;
}

@media screen and (max-width: 768px){
	

	.logo{
		width: 49.5%;
	}

	.slogan{
		width: 49.5%;

	}
	
	.news{
		height: 400px;
	}
	.news1{
		width: 49.5%;
	}
	.news2{
		width: 49.5%;
		border-right: none;
	}
	.news3{
		width: 100%;
		border-top: solid pink;
	}
	.article1{
		width: 49.5%;
	}
	.article2{
		width: 49.5%;
		border-right: none;
	}
	footer{
		height: 400px;
	}
	.footer1{
		width: 49.5%;
	}
	.footer2{
		width: 49.5%;
		border-right: none;
	}
	.footer3{
		display: none;
	}
}
@media screen and (max-width: 468px){

	header{
		height: 400px;
	}
	.logo{
		width: 100%;
	}

	.slogan{
		width:100%;
		border-top: solid pink;

	}
	.slider{
		display: none;
	}
	.news{
		height: 400px;
	}
	.news1{
		width: 100%;
		border-top: solid pink;
	}
	.news2{
		width:100%;
		border-top: solid pink;
	
	
	}
	.news3{
		display: none;
	}

	.article{
		height: 400px;
	}
	.article1{
		width: 100%;
		border-top: solid pink;
	}
	.article2{
		width: 100%;
		border-top:solid pink;
	}
	footer{
		height: 400px;
	}
	.footer1{
		width: 100%;
	}
	.footer2{
		width: 100%;
		border-top:solid pink;
	}
	.footer3{
		display: none;
	}
	
}
