
.main{

	height: 500px;
	margin-top: 55px;
	margin-left: 200px;
	margin-right: 200px;
}

header{

	background-color: #bdc6cc;
	height: 70px;
	padding-left: 100px;
	line-height: 50px;

}

.content{
	height: 360px;
}

footer{

	background-color: #bdc6cc;
	height: 70px;
	padding-left: 100px;
	line-height: 50px;
}

.center{
	line-height: 30px;
	height: 300px;
	background-color: #bdc6cc;
	margin-top: 57px
}

.video{
	height: 205px;
	width: 50%;
	background-color: red;
	float: left;
	margin-left: 50px;
}

.playlist{
	height: 205px;
	width: 30%;
	background-color: green;
	float: left;
	margin-left: 90px;
}

.text{

	font-size: 20px;

}





